* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
	list-style-type: none;
}

body:nth-child(1) {
	font-family: sans-serif;
	font-size: 15px;
	color: #000
	background-repeat: no-repeat;
	background-size: cover;
	height: 2000px;
}
.wrapper {

}
.header {
	position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.container {
}
.navbar {
	display: flex;
	min-height: 120px;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	font-size: 40px;
	font-weight: 700;
	text-decoration: none;
	color: pink;
}

.nav-list {display: flex; justify-content: space-between;gap: 40px;}

.nav__item {list-style-type: none; text-decoration: none;}

.nav__link {color: black;font-size: 20px;}

.reg-button {text-decoration: none;padding: 20px 40px;background-color: pink;border-radius: 20px;text-transform: uppercase;color: black;letter-spacing: 0.3em;}

.home {
}
.home-content-left {height: 1000px;display: flex; gap: 15px;}
.home-content-right {display: flex; height: 1000px;}
.block {	width: 200px;
	height: 200px;background-color: pink;}
.block_wrapper {
	display: flex;
	width: 200px;
	height: 200px;}
.suda {
	margin: auto; background-color: yellow;}
.one-block {
	display: flex;
	margin: auto;
	background-color: yellow;
	text-align: center;
}
.one-block-text {margin: auto;}

.home__container {
	padding: 200px 0 0 0;
	position: relative;
}
.item-list {
	gap: 100px 0;
}
.item {
	text-align: center;
}
.text {
	max-width: 300px;
	margin: 50px auto;
}
.swiper {
	width: 1000px;
	height: 500px;
}
.list-block {
	padding-bottom: 200px;
}

.swiper-button-next,
.swiper-button-prev {
	position: absolute;
}
.swiper-button-next{
	top: 85%;
	color: red;
}
.swiper-button-prev{
	top: 85%;
	color: red;
}

.s-accardeon {
	padding-top: 100px;
}

.accardeon {
	width: 500px;
	background-color: #fff;
	border-radius: 10px;
}

.accardeon-item {
	background-color: red;
	border-radius: 10px;
	margin: 20px 0;
}

.accardeon__header {
	height: 50px;
	cursor: pointer;
}

.accardeon__title::after {
	flex-shrink: 0;
	width: 1.25rem;
	height: 1.25rem;
	margin-left: auto;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-size: 1.25rem;
	content: "";
	transition: transform 0.2s ease-out;
	display: inline-block;
	margin-left: 150px;
	cursor: pointer;
	margin-top: 10px;
}

.accardeon__title {
	padding-left: 15px;
} 

.accardeon__body {
	display: none;
}

.collapse:nth-child(1)

.accardeon__text {
	
}

table {
	border-collapse: collapse;
	margin: auto;
}

td {
	border: 1px solid black;
	padding: 3px 5px;
}
.alert {
  padding: 15px;
  border: 1px solid #d6e9c6;
  border-radius: 4px;
  color: #3c763d;
  background-color: #dff0d8;
}
.hamb-img {
	width: 100px;
	height: 100px;
}
.hamb {
	display: none;
}
.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1720px;
	margin: 0 auto;
	min-height: 120px;
}
.list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 40px;
}
.list-item {
	font-size: 30px;
}
.link-item {
	color: #fff;
	text-decoration: none;
}
.header-container a {
	color: #fff;
	font-size: 30px;
}
.hamb-bg {
	display: none;
}
@media (max-width: 1200px) {
	.hamb {
		display: block;
	}
	.list {
		display: none;
	}
	.list-active {
		display: flex;
	}
	.dark-bg {
		background-color: #000;
		min-height: 100vh;
		z-index: 9999;
	}
	.dark-bg {
    position: fixed;
    top: 125px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    display: flex;
    transition: 0.3s;
  }

  .dark-bg.open {
    left: 0;
  }

  .dark-bg .list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-left: 0;
    padding-top: 5rem;
    overflow: auto;
  }

  .dark-bg .list > li {
    width: 100%;
  }

  .dark-bg .list > li > a {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    font-size: 2rem;
    font-weight: 500;
    color: #000;
  }
}